*{
    padding: 0;
    margin: 0;
}
.para{
    text-transform: lowercase;
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 400px;
    
}
.box-main{
    width: 100%;
    display: inline-flex;
    margin-bottom: 200px;
}
.box{
    width: 33%;
    padding: 40px;
    border: 1px black;
    margin: 10px;
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.406);
    text-align: center;
    border-radius: 10px;

}
.box h1{
    padding-bottom: 10px;
}
.box p{
    padding-bottom: 10px;
} 
.box button{
    padding: 5px 10px;
}
/* .bg{
    background-image: url(../images/IMG_4454.JPG);
    background-size: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
} */
.background{
    margin-bottom: 400px;
}
.main{
    width: 100%;
    /* background-color: bisque; */
}
.box-1{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    height: 100px;
    margin-bottom: 10px;
}
.box-2{
    border: 1px solid black;
    float: left;
}
.box-3{
    border: 1px solid black;
    float: right;
}
.box-4{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    height: 300px;
    margin-bottom: 10px;
}
.box-5{
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    float: left;
}
.box-5 h3{
    text-align: center;
}
.box-6{
    border: 1px solid black;
    padding: 20px;
    float: right;
    width: 50%;
}
.box-6 h3{
    text-align: center;
}
.box-6 img{
    width: 150px;
}
.box-7{
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.box-8{
    padding: 20px;
    border: 1px solid black;
}
.box-9{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 10px;
    height: 300px;
}
.box-9 h3{
    text-align: center;
}
.box-10{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    float: left;
}
.box-10 img{
    width: 200px;
}
.box-11{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    float: right;
}
.box-12{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.box-12 h3{
    text-align: center;
}
.box-13{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}
.flex-main{
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    /* background-color: beige ; */
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
}
.flex1, .flex2, .flex3, .flex4, .flex5 {
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.562);
    padding: 20px;
    width: 25%;
    margin: 10px;
    text-align: center;
}
.header-main{
    width: 100%;
}
.header-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.header-left{
    width: 25%;
    text-align: left;
}
.header-mid{
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.header-right{
    width: 25%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-items: middle;
    justify-content: end;
}

.header-mid ul{
    display: inline-flex;
    justify-content: space-between;
}
.header-mid ul li{
    list-style: none;
}
.header-mid ul li a{
    text-decoration: none;
    padding: 0 10px;
    color: black;
}
.header-right a{
    padding: 15px;
    background-color: #4f3ccd;
    border: 1px solid #4f3ccd;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}